.light {
    --back: rgb(255, 255, 255);
    --dbox: rgb(128, 128, 128);
    --black: rgb(7, 7, 19);
    --dHeader: rgb(4, 4, 14);
    --dsubHeader: rgba(10, 10, 24, 0.896);
    --dborder: rgb(7, 7, 19);
    --dlboxshadow: rgba(0, 0, 0, 0.2);
    --dboxshadow: rgba(0, 0, 0, 0.4);
    --purple: rgb(136, 29, 79);
    --pbtn: rgb(136, 29, 79);
    --pborder: rgb(136, 29, 79);
}
.dark {
    --back: rgb(0, 0, 0);
    --box: rgba(18, 20, 20, 0.8);
    --white: rgb(255, 255, 255);
    --wHeader: rgba(255, 255, 255);
    --wsubHeader: rgba(255, 255, 255, 0.8);
    --wborder: rgba(255, 255, 255, 0.5);    
    --lboxshadow: rgba(0, 0, 0, 0.5);
    --boxshadow: rgba(0, 0, 0, 0.8);
    --purple: rgb(72, 20, 44);
    --pbtn: rgb(72, 20, 44);
    --pborder: rgb(72, 20, 44);
}
.light, .dark {
    --wbtn: rgba(255, 255, 255);
    --lback: rgba(10, 10, 24, 0.596);
    --lpurple: rgba(72, 20, 44, 0.5);
    --smallfont: 0.75rem;
    --font: 1rem;
    --biggerfont: 2rem;
    --bigfont: 1.5rem;
    --smallfont: 0.75rem;
    --weight: 600;        
    --bweight: 800;        
    transition: 0.5s ease-in-out;
}
*::selection {
    background: var(--lback);
    color: var(--purple);
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background: var(--back);
    font-family: "segoe ui", Arial, Helvetica, sans-serif;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 25px 5%;
}
.nav {
    position: fixed;
    top: 0;
    padding: 8px 16px;
    right: 0;
    height: 100vh;
    width: 50%;
    background: var(--purple);
    text-align: center;
    padding-block-start: 60px;
    z-index: 2;
    
    transition: transform 0.5s, opacity 0.5s;
    opacity: 1;
}
.move {
    opacity: 0;
    transform: translatex(100%);
    transition: transform 0.5s, opacity 0.5s;
}
.nav a li {
    background: var(--box, var(--dbox));
    padding: 20px;
    margin: 15px 0;
    box-shadow: 0 10px 30px 0 var(--lboxshadow, var(--dlboxshadow)) inset;
    transition: background-color 0.5s;
}
.nav a li:hover {
    background: transparent;
}
.d {
    position: relative;
}
.d::after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--lboxshadow, var(--dlboxshadow));
    z-index: 1;
}
nav ul  a {
    color: var(--wHeader, var(--dHeader));
    text-decoration: none;
}
nav ul li {
    padding: 8px 16px;
}
nav ul li img, .logo {
   height: 50px;
}
.navBtn {
    display: inline-block;
    z-index: 3;
    cursor: pointer;
    margin: 20px;
    border-radius: 5px;
    position: fixed;
    top: 18px;
    right: 15px;
}
.change > .t1 {
    transform: translate(0, 11px) rotate(-45deg);
}
.change .t2 {
    opacity: 0;
}
.change > .t3 {
    transform: translate(0, -11px) rotate(45deg);
}
.navBtn > div {
    height: 5px;
    margin: 6px 0;
    width: 35px;
    background: var(--wHeader, var(--dHeader));
    transition: transform 0.5s, opacity .3s;
}
section {
    width: 90%;
    line-height: 1.6;
    margin-inline: auto;
}
main {
    position: relative;
    isolation: isolate;
}
.backImg {
    position: absolute;
    height: 100vh;
    height: 100dvh;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
}
.backImg > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: grow 100s ease-in-out infinite;
}
@keyframes grow {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

#home {
    text-align: center;
    margin-block-start: 100px;
}

#home > p:first-child {
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}
#home > p:nth-child(2) {
    margin-block-start: -35px;
}
#home > p:first-child::after {
    content: "";
    height: 130px;
    width: 130px;
    background: var(--purple);
    border-radius: 50%;
    top: -20px;
    right: -60px;
    z-index: -1;
    position: absolute;
}
#home > p:first-child,
#home > p:nth-child(2) {
    font-size: var(--biggerfont);
    font-weight: var(--weight)
}
.mute {
    color: var(--wsubHeader, var(--dsubHeader));
}
.muted {
    color: var(--wHeader, var(--dHeader));
}
.one .mute {
    color: rgba(255, 255, 255, 0.8);
}
.one .muted {
    color: rgba(255, 255, 255);
}
.hero > input {
    padding: 8px 16px;
    border: none;
    font-size: 18px;
    border-bottom: 2px solid var(--wborder, var(--dborder));
    outline: none;
    width: 180px;
    background: transparent;
    color: var(--wHeader, var(--dHeader));
    box-shadow: 0 0px 25px 0 var(--lboxshadow, var(--dlboxshadow)) inset;
    transition: border 0.5s;
}
input::placeholder, textarea::placeholder {
    color: var(--wborder, var(--dborder));
}
.hero > input:focus {
    border-bottom: 2px solid var(--pborder);
}
button {
    margin-inline: 20px;
}
.button {
    font-weight: var(--weight);
    margin-block-start: 20px;
    display: inline-block;
    text-decoration: none;
}
button, .button {
    color: var(--wbtn);
    background: var(--pbtn);
    border: none;
    box-shadow: 0 0px 25px 0 var(--lboxshadow, var(--dlboxshadow)) inset;
    -webkit-user-select: none;
    user-select: none;
    padding: 10px 16px;
    border-radius: 5px;
    margin-block: 15px;
    cursor: pointer;
    transition: transform  0.4s, box-shadow 0.2s;
}
button:hover, .button:hover {
    box-shadow: 0 5px 25px 0 var(--lboxshadow, var(--dlboxshadow)) inset, 0 10px 25px 0 var(--boxshadow, var(--dboxshadow));
    transform: scale(0.9);
}
.hero {
    display: inline-block;
    height: 130px;
}
#emailErr {
    font-size: var(--smallfont);
    text-align: left;
    padding: 0 10px;
    color: tomato;
    opacity: 0;
    font-weight: var(--weight);
    margin-block-start: -8px;
    transition: opacity 1s;
}
#home > p:nth-child(5) {
    text-align: right;
    padding: 0 20px;
    margin-block-end: 20px;
}
#home  a, 
.mail > .muted a, 
.fcontent > a,
.fcontent span:nth-child(3) > a,
.mobile p a {
    text-decoration: none;
    display: inline-block;
    color: var(--wHeader, var(--dHeader));
}
.card1, 
.card2, 
.card3 {
    padding: 10px 50px;
    cursor: pointer;
    text-align: left;
    color: var(--wHeader, var(--dHeader));
    margin: 10px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    box-shadow: 0 10px 25px 0 var(--boxshadow, var(--dboxshadow));
}
.card1 > p:first-child,
.card2 > p:first-child,
.card3 > p:first-child {
    font-weight: var(--weight);
    margin-block-end: -10px;
    color: var(--wHeader, var(--dHeader));
}
.card-container + p {
    font-size: var(--bigfont);
    font-weight: var(--weight);
    margin-block-start: 60px;
    text-align: left;
}
.brand-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.brand-logo > img {
    height: 60px;
    filter: drop-shadow(0 0 1px var(--wHeader, var(--dHeader)));
}
#about {
    margin-block-start: 100px;
}
#about .about-image {
    display: none;
}
.about-text > p:first-child {
    font-size: var(--bigfont);
    font-weight: var(--weight);
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}
.about-text > p:first-child::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: 2px;
    left: -4px;
    background: var(--purple);
    border-radius: 50%;
    z-index: -1;
}
.client > p:first-child,
.revenue > p:first-child {
    font-size: var(--biggerfont);
    font-weight: var(--weight);
    margin-block-end: -20px;
}
.num {
    display: flex;
    gap: 50px;
    text-align: center;
}
#s-service, #service {
    margin-block-start: 100px;
}
.service-image {
    display: none;
}
.service-text > p:nth-child(2),
#portfolio > p:nth-child(2),
.vision-text > p:first-child {
    font-size: var(--biggerfont);
    font-weight: var(--weight);
    display: inline-block;
    margin-block-start: -15px;
    margin-block-end: -15px;
    position: relative;
}
.port-bttn {
    margin-block-start: 15px;
}

.service-text > p:nth-child(2)::before, 
#portfolio p:nth-child(2)::before,
.vision-text > p:first-child::before {
    content: "";
    position: absolute;
    background: var(--purple);
    height: 65px;
    width: 70px;
    border-radius: 50%;
    z-index: -1;
}
.numb {
    color: var(--purple);
    font-weight: var(--bweight);
    font-size: var(--bigfont);
}
.section1 p:nth-child(2),
.section2 p:nth-child(2),
.section3 p:nth-child(2) {
    font-weight: var(--weight);
    font-size: var(--bigfont);
    margin-block-start: -20px;
}
.first,
.second,
.third,
.fourth {
    display: flex;
    align-items: start;
    gap: 20px;
}
.first > p:first-child,
.second > p:first-child,
.third > p:first-child,
.fourth > p:first-child {
    padding: 20px;
    background: var(--purple);
    font-weight: var(--weight);
    font-size: var(--bigfont);
    color: var(--wbtn);
}
.first > div p, 
.second > div p, 
.third> div p, 
.fourth > div p {
    font-weight: var(--weight);
    padding-block-start: 15px;
}
.tooltip {
    padding: 8px 16px;
}
.portfolio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.port-card {
    background: var(--purple);
    transition: 0.5s ease-in-out;
    padding: 15px;
    cursor: pointer;
    overflow: hidden;
}

.dev,
.mod {
    width: 100%;
    aspect-ratio: 2 / 1;
    box-shadow: 0 0 20px 0 var(--boxshadow, var(--dboxshadow));
    border: 2px solid var(--purple);
    overflow: hidden;
    z-index: 2;
}
.port-card:hover .development,
.port-card:hover .modeling {
    transform: scale(1.3);
}
.development,
.modeling {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}
.modeling,
.mod,
.more {
    display: none;
}
#portfolio {
    text-align: center;
    margin-block: 80px;
}
#portfolio p:nth-child(2) {
    font-size: var(--biggerfont);
}
#portfolio > button {
    margin-block: 30px;
}
#vision {
    margin-block-start: 80px;
}
.vision-text > p:nth-child(even) {
    font-size: var(--bigfont);
    font-weight: var(--weight);
}
#testimonial {
    margin-block: 100px;
    text-align: center;
}
#testimonial > p:first-child {
    display: inline-block;
    position: relative;
}
#testimonial > p:first-child::before {
    content: "";
    position: absolute;
    height: 60px;
    width: 60px;
    top: 0;
    left: -30px;
    border-radius: 50%;
    background-color: var(--purple);
    z-index: -1;

}
#testimonial > p:nth-child(2) {
    font-size: var(--biggerfont);
    font-weight: var(--weight);
    margin-block-start: -17px;
}
.persons {
    margin-block: 50px;
    display: flex;
    padding: 10px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding-inline: 90px;
}
.person-container {
    position: relative;
    margin-inline: start;
    box-sizing: border-box;
}
.persons::-webkit-scrollbar {
    display: none;
}
main {
    overflow: hidden;
}
.persons::before {
    content: "";
    position: absolute;
    height: 100px;
    width: calc(150vw - 1px);
    z-index: -1;
    left: -15%;
    top: calc(50% - 50px);
    background: var(--purple);
}
.one {
    color: var(--wbtn);
    margin-inline-start: 70px;
    position: relative;
    width: min(65%, 330px);
    border-radius: 15px;
    transform: scale(0.9);
    scroll-snap-align: start;
    scroll-snap-stop: always;
    padding: 15px 20px;
    flex-shrink: 0;
}
.one {
    background: var(--purple);
    box-shadow: 0 10px 40px var(--lboxshadow, var(--dlboxshadow)) inset;
}
.two {
    background: gray;
}
.pimg {
    height: 150px;
    width: 150px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: -75px;
    border: 8px solid transparent;
    box-shadow: 0 0 30px var(--boxshadow, var(--dboxshadow));
    border-radius: 50%;
    transform: translateY(-50%);
}   
.pimg > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.5s;
}
.pimg > img:hover {
    transform: scale(1.3);
}
.patext {
    text-align: left;
    margin-inline-start: 80px;
}
.patext p:first-child {
    font-size: var(--bigfont);
    font-weight: var(--weight);
    margin-block-end: -15px;
}
.patext p:nth-child(2) {
    font-size: var(--smallfont);
}
.dots {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    background: var(--wborder, var(--lback));
    margin-block-end: 30px;
}
.active {
    background: var(--white, var(--black));
}
.stars {
    text-align: left;
    padding: 0 80px;
    display: flex;
    gap: 4px;
    color: gold
}
.con-img div > img {
    display: none;
}
#contact-me {
    margin-block-start: 150px;
    margin-block-end: 150px;
}
.form-container {
    position: relative;
}
.form-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--purple);
    filter: blur(200px);
    z-index: -2;
}
.form-container form > p:first-child {
    font-size: var(--biggerfont);
    font-weight: var(--weight);
    display: inline-block;
    position: relative;
}
.form-container form > p:first-child::before {
    content: "";
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: var(--box, var(--dbox));
    z-index: -1;
    left: -10px;
    position: absolute;
}   
.fname, .lname,
.emaill, .number,
.form-message, .mail, .mobile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 25px;
}
.fade-in {
    opacity: 0;
    transition: opacity .5s ease-in, transform 1s ease-in-out;
    transform: translatey(100px);
}
.fade-in.appear {
    transition: opacity .5s ease-in, transform 1s ease-in-out;
    transform: translatey(0);
    opacity: 1;
}
.from-left {
    transform: translatex(-50%);
}
.from-right {
    transform: translatex(50%);
}
 .from-left,
 .from-right {
    transition: opacity 0.5s ease-in, transform 1s ease-in-out;
    opacity: 0;
}
.from-left.appear,
.from-right.appear {
    transition: opacity 0.5s ease-in, transform 1s ease-in-out;
    transform: translatex(0);
    opacity: 1;
}
.form-container label {
    font-weight: var(--weight);
    cursor: pointer;
}
.form-container input, textarea {
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px 15px;
    color: var(--wHeader, var(--dHeader));
    border-bottom: 2px solid var(--wborder, var(--dborder));
    box-shadow: 0 0px 25px 0 var(--lboxshadow, var(--dlboxshadow)) inset;
    transition: border-bottom 0.5s;
}
.form-container input:focus, textarea:focus {
    border-bottom: 2px solid var(--pborder);
}
textarea {
    resize: none;
    height: 120px;
}
.contact-btn {
    box-shadow: 0 0px 25px 0 var(--lboxshadow, var(--dlboxshadow)) inset;
    border-radius: 0;
    color: var(--pbtn);
    font-weight: var(--bweight);
    background: var(--wbtn);
}
.mail > .mute, 
.mobile > .mute {
    margin-block-end: -22px;
    margin-block-start: -8px;
}
.secondary-contact {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    justify-content: space-between;
}
.mobile {
    align-self: flex-end;
}
.form-message, .mail, .mobile {
    position: relative;
}
.form-message::before, 
.mail::before,
.mobile::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background: var(--box, var(--dbox));
}
.form-message::before {
    right: 0;
    height: 200px;
    width: 200px;

}
.mail::before {
    height: 120px;
    width: 120px;
    left: 20px;
}
.mobile::before {
    height: 60px;
    width: 60px;
    right: 0;
}
.vi {
    background: url("Media/rendering_015-watermark.jpg");
    padding: 20px;
    text-align: center;
}
.vtext > p:nth-child(2) {
    font-size: var(--biggerfont);
    font-weight: var(--weight);
    margin-block-end: -18px;
}

.vtext > p:nth-child(3) {
    font-size: var(--bigfont);
}
.socials {
    display: flex;
    gap: 30px;
    justify-content: center;
}
.socials > a {
    font-size: var(--biggerfont);
    color: var(--wHeader, var(--dHeader));
}
.socials > a:hover {
    color: var(--purple);
}
.mainf {
    text-align: center;
    margin-inline: auto;
    padding: 10px 0;
    background: var(--box, var(--dbox));
}
.fcontent p:nth-child(2), .fcontent span:first-child {
    font-size: var(--bigfont);
    font-weight: var(--weight);
}
.fcontent p:nth-child(2) {
    border-block-end: 2px solid var(--wsubHeader, var(--dsubHeader));
    padding-block-end: 20px;
    margin-block-end: -10px;
    margin-block-start: -10px;
}
.fcontent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 50px;
}
.rights {
    padding: 5px;
    font-weight: var(--weight);
    text-align: center;
}
#msg {
    color: #61b752;
}
.vision-image {
    display: none;
}
.onlinec {
    position: absolute;
    top: 0;
    background: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 50px; 
    width: 50px;
    cursor: pointer;
    color: var(--back);
    box-shadow: 0 0 25px 0 var(--boxshadow, var(--dboxshadow));
    background: var(--wHeader, var(--dHeader));
}
.onlinec > a {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    text-decoration: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-inline: auto;
    color: var(--wbtn);
    background: var(--purple);
    transition: opacity .5s, top .3s;
    box-shadow: 0 0 25px 0 var(--boxshadow, var(--dboxshadow));
}
.onlinec.act > a {
    opacity: 1;
}
.onlinec.act > a:first-child {
    top: -60px;
}
.onlinec.act > a:nth-child(2) {
    top: -120px;
}
.onlinec.act > a:nth-child(3) {
    top: -180px;
}
.onlinec.act > a:nth-child(4) {
    top: -240px;
}
.online, .onlinec a, .theme {
    font-size: 25px;
    width: 50px;
    height: 50px;
}
.online {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.theme {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--wHeader, var(--dHeader));
    cursor: pointer;
    border-radius: 50%;
    background: var(--purple);
    box-shadow: 0 0 25px 0 var(--boxshadow, var(--dboxshadow));
}
@media (width >= 1000px) {
    .nav {
        position: relative;
        transform: translatex(0%);
        height: auto;
        width: 100%;
        padding: 0;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        opacity: 1;
    }
    .navBtn {
        display: none;
    }
    nav ul {
        justify-content: start;
    }
    .nav a li {
        background-color: transparent;
        Color: var(--wsubHeader, var(--dsubHeader));
        padding: 8px 16px;
        box-shadow: 0 0 0 0;
        margin: 0;
        position: relative;
    }
    .nleft a li::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 0;
        left: 50%;
        bottom: 0;
        background: var(--purple);
        transition: 0.5s;
    }
    .nleft a li:hover::after {
        width: 100%;
        left: 0;
    }
    .nav a li:hover {
        color: var(--wHeader, var(--dHeader));
    }
    .nright a:nth-child(2) li,
    .nright a:first-child li {
        border-radius: 20px;
        box-shadow: 0 5px 20px 0 var(--boxshadow, var(--dboxshadow)) inset, 0 5px 25px var(--boxshadow, var(--dboxshadow));
    }
    .nright a:nth-child(2) li:hover,
    .nright a:first-child li:hover {
        outline: 1px solid var(--purple);
    }
    .nright {
        gap: 30px;
    }
    .nright a:first-child li:hover {
        background-color: transparent;
    }
    .nright, .nleft, .card-container, #about, #s-service, .sep, #service {
        display: flex;
    }
    .about-image {
        height: 90%;
        width: 50%;
        box-shadow: 0 0 30px 0 var(--lboxshadow, var(--dlboxshadow));
    }
    .about-text , .about-image, .service-image, .service-text {
        width: 50%;
    }
    #about {
        gap: 100px;
        align-items: center;
        justify-content: space-between;
    }
    section {
        width: 80%;
    }
    .about-image img,  
    .service-image img,
    .vision-image div img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        cursor: pointer;
        transition: transform 0.5s;
    }
    .about-image {
        position: relative;
    }
    .about-image::before {
        content: "";
        position: absolute;
        width: 80%;
        height: 50%;
        background: var(--purple);
        top: -20px;
        box-shadow: 0 -10px 30px 0 var(--lboxshadow, var(--dlboxshadow));
        left: -20px;
        z-index: -1;
    }
    .about-image::after {
        content: "";
        position: absolute;
        width: 60%;
        box-shadow: 0 10px 30px 0 var(--lboxshadow, var(--dlboxshadow));
        height: 50%;
        background: var(--purple);
        bottom: -20px;
        right: -20px;
        z-index: -1;
    }
    .service-image, #about .about-image, .vision-image  {
        display: block;
    }
    .service-text::before {
        display: none;
    }
    
    #s-service {
        gap: 30px;
        align-items: center;
        justify-content: space-between;
    }
    .sep {
        gap: 30px;
        align-items: center;
    }
    .service-image {
        margin-inline-start: 120px;
        height: 400px;
        width: 200px;
        position: relative;
        background: var(--purple);
        box-shadow: 0 10px 30px 0 var(--boxshadow, var(--dboxshadow));
    }
    .service-image img:hover, 
    .vision-image div img:hover {
        transform: scale(1.3);
    }
    .service-image > div {
        position: absolute;
        border: 2px solid var(--purple);
        overflow: hidden;
        box-shadow: 0 5px 20px 0 var(--boxshadow, var(--dboxshadow));
    }
    .service-image > div:first-child {
        left: -50%;
        top: -120px;
        height: 280px;
        width: 180px;
    }
    .service-image > div:nth-child(3) {
        width: 200px;
        height: 180px;
        right: -50%;
        top: 50px;
    }
    .service-image > div:nth-child(2) {
        width: 180px;
        height: 180px;
        left: -50%;
        top: 180px;
    }
    .service-image > div:nth-child(4) {
        width: 200px;
        height: 300px;
        right: -50%;
        top: 250px;
    }
    #service {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .first, .second, .third, .fourth {
        width: 47%;
    }
    .portfolio {
        flex-direction: row;
        flex-wrap: wrap;
        margin-block: 70px;
    }
    .port-card {
        transform: rotate(40deg);
        transition: 0.5s ease-in-out;
    }
    .port-card:hover {
        transform: rotate(0);
    }
    .port-content {
        width: 30%;
        margin: 20px 4px;
        transition: box-shadow .5s;
        box-shadow: 0 5px 25px 0 var(--boxshadow, var(--dboxshadow)) inset, 0 5px 25px 0 var(--boxshadow, var(--dboxshadow));
    }
    .port-content:hover {
        box-shadow: 0 5px 25px 0 var(--boxshadow, var(--dboxshadow)) inset, 0 5px 25px 0 var(--purple);
    }
    .d::after {
        display: none;
    }
    #vision {
        display: flex;
        position: relative;
    }
    .vision-text, .vision-image {
        width: 50%;
    }
    .vision-image div {
        position: absolute;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0 0 50px 0 var(--boxshadow, var(--dboxshadow));
        outline-offset: -5px;
    }
    .vision-image div:first-child {
        outline: 15px solid var(--purple);
        width: 300px;
        top: 0;
    }
    .vision-image div:last-child {
        width: 300px;
        bottom: 0;
        right: 56%;
        outline: 15px solid var(--back);
    }
    .mainf {
        display: flex;
    }
    .fcontent p:nth-child(3) {
        text-align: left;
    }
    #contact-me {
        display: flex;
        justify-content: center;
        margin-inline-start: -20px;
        align-items: start;
        width: 98%;
    }
    .con-img div > img {
        display: block;
        width: 100%;
        object-fit: contain;
        transition: transform .5s;
    }
    .con-img div {
        z-index: 2;
        width: 598px;
        height: 598px;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.8);
        overflow: hidden;
    }
    .con-img div img:hover {
        transform: scale(1.1);
    }
    .con-img {
        position: relative;
        transform: scale(0.8.5);
    }
    .form-name, .form-contact {
        display: flex;
    }
    .con-img::before {
        content: "";
        position: absolute;
        width: 684px;
        height: 710px;
        background: var(--purple);
        border-radius: 710px;
        z-index: -1;
        top: 0;
        left: 0;
        box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.8) inset;
    }
}